button {
  background-color: #282c34;
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 0.1rem #282c34;
  transition: all 0.2s ease-in-out;
  min-width: 10rem;
}

.card {
  text-align: left;
}
